.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f7f7f7;
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav__list-items {
  position: relative;
}

.nav__badge {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #dc5d46;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
